<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clover.Drone</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body{
            background-color:white;
        }
        article{
        	color:black;
        }
    </style>
</head>
<body>   
     <nav class="navigation normal" id="navbar">
            <div class="logo">
                <a href="/">Clover.Drone</a>
            </div>
            <ul class="main_menu">
                <li>
                    <a href="">Docs</a>
                </li>
                <li>
                    <a href="/updates/">Updates</a>
                </li>
                <li>
                    <a href="/news/">News</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="/accounts/user/">Account</a>
                </li>
                <li>
                    <a href="/accounts/logout">Logout</a>
                </li>
                {% else %}
                <li><a href="/accounts/login">Login</a></li>
                {% endif %}
                <li class="download_el">
                    <a href="/download/"><button>Download</button></a>
                </li>
            </ul>
        </nav>
    {% if user.is_authenticated %}
            <div class="block_account"> 
                <h2>Hi, {{ user.username }}</h2>
           </div>


        <article class="account" >
    </article>

    {% else %}
        <article class="account" >
            <div class="block_account"> 
                <h2>You're not logget in</h2>
                <p>Hey, man! <a href="/accounts/login">Login</a> or <a href="/accounts/signup/">Register</a></p>
           </div>
        </article>
    {% endif %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/preloader.js' %}"></script>
</body>
</html>